css
body {
    background-color: #C431D4;
    font-family: "Archivo Black", sans-serif;
}

h1 {
    color: beige;
}

.where-i-begin {
    color: rgba(234, 0, 255, 0.521);
    font-size: 24px;
}

